/**************************************GENERAL******************************************/
body {
  font-family: 'League Spartan', sans-serif;
  background-color:#f8f8e7;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
     padding: 0px 20px;
 }

section {
  /* margin: 50px 0; */
}

/**************************************HEADER******************************************/
/* src/components/Header.scss */

.header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 20px;
/* border-bottom: 1px solid #e0e0e0; Margen sin color abajo */
}

.logo img {
height:6rem;
padding:3%;
margin-left:15%; 
}
.menu ul {
  list-style: none;
  padding: 0;
  margin-right: 30px;
  display: flex;
  gap: 20px;
  font-size: 25px;
}
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}
.menu a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.menu a:hover {
  color: #000;
}

/******************************************BODY********************************************/

main {
  flex: 1;
}

.home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.home-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.home-text {
  flex: 1;
  padding-right: 20px;
}

.home-text h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.home-text p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.home-text .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  margin-bottom: 20px;
  cursor: pointer;
}

.contact-icons i {
  font-size: 2em;
  margin-right: 10px;
}

.home-images {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image-container {
  text-align: center;
}

.image-container img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.image-container p {
  margin-top: 10px;
  font-size: 1em;
}